.pest1{

    background-color: deepskyblue;
    height: 5px;
    width: 100%;
}

.sep{

    padding-top: 10px;
    padding-right: 5px;
}
.encabezado{

    height: 60px;
    
}

.sec1{
    text-align: center;
}
